.todoList-container{
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: rgb(245, 124, 3);
  
  
}
.todoList-container>input {
  padding: 5px 10px;
}
.todoList-container>button{
  padding: 5px 10px;
}
.todo-input{
  border-radius: 5px 0px 0px 5px;
  border: 1px solid black;
}
.submit-input{
  border-radius: 0px 5px 5px 0px;
  border: 1px solid black;
}
.cleat-button{
  margin: auto;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}